# Python

**pycache**/
*.pyc
*.pyo
*.pyd

# Database

*.db

# ChromaDB

chroma_db/

# Operating System

.DS_Store
Thumbs.db


# ChromaDB
data/vector_store/
*.sqlite3
*.db


# virtual env
.venv/
venv/

.env

# python cache
__pycache__/
*.pyc

# vector db
data/vector_store/

# vscode
.vscode/

# logs
*.log